<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="triangle">News</ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="ellipse">Games</ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leagues">
      <ion-icon name="square">Leagues</ion-icon>
      <ion-label>Leagues</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="ellipse">Profile</ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>
